In [18]:
#charger les biblithèques numpy et pandas
import pandas as pd
import numpy as np

In [19]:
#1.1 lire la base de données à partir du fichier csv phase1
ph1=pd.read_csv('Desktop\myL3\IA\TP_IA\Phase1.csv')
ph1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13599 entries, 0 to 13598
Data columns (total 43 columns):
Unnamed: 0                     13599 non-null int64
duration                       13599 non-null int64
protocol_type                  13599 non-null object
service                        13599 non-null object
flag                           13599 non-null object
src_bytes                      13599 non-null int64
dst_bytes                      13599 non-null int64
land                           13599 non-null int64
wrong_fragment                 13599 non-null int64
urgent                         13599 non-null int64
hot                            13599 non-null int64
num_failed_logins              13599 non-null int64
logged_in                      13599 non-null int64
num_compromised                13599 non-null int64
root_shell                     13599 non-null int64
su_attempted                   13599 non-null int64
num_root                       13599 non-null int64
num_file_creations             13599 non-null int64
num_shells                     13599 non-null int64
num_access_files               13599 non-null int64
num_outbound_cmds              13599 non-null int64
is_host_login                  13599 non-null int64
is_guest_login                 13599 non-null int64
count                          13599 non-null int64
srv_count                      13599 non-null int64
serror_rate                    13599 non-null float64
srv_serror_rate                13599 non-null float64
rerror_rate                    13599 non-null float64
srv_rerror_rate                13599 non-null float64
same_srv_rate                  13599 non-null float64
diff_srv_rate                  13599 non-null float64
srv_diff_host_rate             13599 non-null float64
dst_host_count                 13599 non-null int64
dst_host_srv_count             13599 non-null int64
dst_host_same_srv_rate         13599 non-null float64
dst_host_diff_srv_rate         13599 non-null float64
dst_host_same_src_port_rate    13599 non-null float64
dst_host_srv_diff_host_rate    13599 non-null float64
dst_host_serror_rate           13599 non-null float64
dst_host_srv_serror_rate       13599 non-null float64
dst_host_rerror_rate           13599 non-null float64
dst_host_srv_rerror_rate       13599 non-null float64
class                          13599 non-null object
dtypes: float64(15), int64(24), object(4)
memory usage: 4.5+ MB

In [20]:
#afficher les 5 premières lignes
ph1.head()

,Unnamed: 0,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,0,tcp,ftp_data,SF,491,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal
1,1,0,udp,other,SF,146,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
2,3,0,tcp,http,SF,232,8153,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
3,4,0,tcp,http,SF,199,420,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal
4,12,0,tcp,http,SF,287,2251,0,0,0,...,219,1.00,0.00,0.12,0.03,0.00,0.00,0.00,0.00,normal

In [21]:
#Combien de valeur null par colonne
ph1.isnull().sum()

Unnamed: 0                     0
duration                       0
protocol_type                  0
service                        0
flag                           0
src_bytes                      0
dst_bytes                      0
land                           0
wrong_fragment                 0
urgent                         0
hot                            0
num_failed_logins              0
logged_in                      0
num_compromised                0
root_shell                     0
su_attempted                   0
num_root                       0
num_file_creations             0
num_shells                     0
num_access_files               0
num_outbound_cmds              0
is_host_login                  0
is_guest_login                 0
count                          0
srv_count                      0
serror_rate                    0
srv_serror_rate                0
rerror_rate                    0
srv_rerror_rate                0
same_srv_rate                  0
diff_srv_rate                  0
srv_diff_host_rate             0
dst_host_count                 0
dst_host_srv_count             0
dst_host_same_srv_rate         0
dst_host_diff_srv_rate         0
dst_host_same_src_port_rate    0
dst_host_srv_diff_host_rate    0
dst_host_serror_rate           0
dst_host_srv_serror_rate       0
dst_host_rerror_rate           0
dst_host_srv_rerror_rate       0
class                          0
dtype: int64

In [22]:
#appliquer un encodage one hoting coding sur les colonnes de type catégorique
ph1=pd.get_dummies(ph1) 
ph1.head()

,Unnamed: 0,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,...,flag_RSTO,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,class_anomaly,class_normal
0,0,0,491,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,146,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,3,0,232,8153,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
3,4,0,199,420,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
4,12,0,287,2251,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1

In [23]:
del  ph1['class_normal'] #supprimer la colonne class_normal# du dataframe

In [24]:
ph1.info()
#Afficher les statistiques de la base en utilisant la fonction describe()
ph1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13599 entries, 0 to 13598
Columns: 104 entries, Unnamed: 0 to class_anomaly
dtypes: float64(15), int64(24), uint8(65)
memory usage: 4.9 MB

,Unnamed: 0,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,...,flag_REJ,flag_RSTO,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,class_anomaly
count,13599.000000,13599.000000,1.359900e+04,1.359900e+04,13599.000000,13599.000000,13599.0,13599.000000,13599.000000,13599.000000,...,13599.000000,13599.000000,13599.000000,13599.000000,13599.000000,13599.000000,13599.000000,13599.000000,13599.000000,13599.000000
mean,12495.645636,182.747776,1.164666e+04,4.352227e+03,0.000074,0.001177,0.0,0.222149,0.001177,0.701669,...,0.039709,0.003383,0.002574,0.012060,0.006324,0.001250,0.001103,0.933377,0.000147,0.011030
std,7333.313621,1371.063164,1.723699e+05,6.941981e+04,0.008575,0.058150,0.0,2.340105,0.043711,0.457542,...,0.195281,0.058064,0.050668,0.109157,0.079275,0.035336,0.033195,0.249376,0.012127,0.104448
min,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6113.500000,0.000000,1.050000e+02,8.100000e+01,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,12521.000000,0.000000,2.320000e+02,3.700000e+02,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,18848.000000,0.000000,3.240000e+02,2.009000e+03,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,25186.000000,36613.000000,7.665876e+06,5.131424e+06,1.000000,3.000000,0.0,77.000000,3.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
X = ph1.iloc[:,:-1] #Récupérer toutes les lignes et toutes les colonnes sauf la dernière colonne de la base
y = ph1['class_anomaly'] #Récupérer la colonne outcome qui représente le target et stocker la dans la vaiable y

In [26]:
#Diviser la base de donnée en deux sous-ensembles test et train avec une taille de 30%, 70%, respectivement
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, stratify=y)

In [27]:
#Charger le grid search qui cherche les paramètres optimaux d'un modèle
from sklearn.model_selection import GridSearchCV
#Charger le classificateur KNN
from sklearn.neighbors import KNeighborsClassifier
grid_params={
    'n_neighbors':[3,5,7,9,11],
    'metric':['euclidean','manhattan']
}

#Créer un objet grid search avec les paramètres et le modèle à tester
gs=GridSearchCV(
    KNeighborsClassifier(),
    grid_params,
    cv=3 #nombre de folds dans la cross validation
)
gs_results=gs.fit(X_train, y_train) #lancer le grid search et la cross validation

In [28]:
gs_results.best_params_ #Afficher les meilleurs paramètres trouvés

{'metric': 'manhattan', 'n_neighbors': 3}

In [29]:
#qst 1.2 Créer une instance knn avec les paramètres optimaux trouvés
knn= KNeighborsClassifier(n_neighbors=3,metric='manhattan')
#Lancer l'apprentissage
knn.fit(X_train, y_train)#entraîner le modèles
y_pred=knn.predict(X_test) #evaluer le modèles

In [30]:
#Afficher la matrice de confusion
from sklearn.metrics import  confusion_matrix
confusion_matrix(y_test, y_pred)

array([[4033,    2],
       [   5,   40]], dtype=int64)

In [31]:
#afficher la précision et le rappel
from sklearn.metrics import precision_score, recall_score
print('precision=',precision_score(y_test,y_pred))
print('recall=',recall_score(y_test,y_pred))

precision= 0.9523809523809523
recall= 0.8888888888888888

In [32]:
#Appliquer une cross validation avec le knn ayant les paramètres optimaux
from sklearn.model_selection import cross_val_score
#create a new KNN model
knn_cv = KNeighborsClassifier(n_neighbors=3, metric='manhattan')#train model with cv of 5 
cv_scores = cross_val_score(knn_cv, X, y, cv=5)#print each cv score (accuracy) and average them
print(cv_scores)
print('f1={}'.format(np.mean(cv_scores)))

[0.64889706 0.99963235 0.99963235 0.99889706 0.99742552]
f1=0.9288968695238301

1.5 / on a eu un bon modele car on a obtenu un F1 score proche de 1 .
il s'agit des classes qui n'ont aucune importance tel que la classe Unnamed 0